<%- include('../partials/head.ejs') %>

    <%- include('../partials/navbar.ejs') %>

    <div class="product-details-container">
      <h1 class="product-name"><%= product.name %></h1>
      <hr/>
      <img class="product-image" src="/<%= product.imagePath %>" alt="product image"/>
      <p class="product-price"><%= product.price %>$</p>
      <%- include('../partials/addToCart.ejs', { product: product }) %>

      <hr>

      <h1 class="description-heading">Description</h1>
      <div class="product-desc"><%- product.description %></div>
    </div>


<%- include('../partials/foot.ejs') %>