<%- include('../partials/head.ejs') %>

  <%- include('../partials/navbar.ejs') %>

    <h1 class="page-title"><%= pageTitle %></h1>

    <span class="info-msg success-msg-block" id="success-msg-block">Product added successfully</span>

    <form
      action="/admin<%= editMode ? '/edit-product' : '/add-product' %>"
      method="POST"
      enctype="multipart/form-data"
      id="edit-product-form"
      class="<%= editMode ? 'edit-product-form' : 'add-product-form' %>">

      <label for="product-name-field">Name</label>
      <input
        type="text"
        id="product-name-field"
        name="product-name-field"
        value="<%= editMode ? product.name : ''%>"
        required
      />
      <span class="error-msg ProductNameError"></span>

      <label for="product-image-field">Image</label>
      <% if (!editMode) { %>
        <input
          type="file"
          id="product-image-field"
          name="product-image-field"
          required
        />
      <% } else { %>
        <!-- image field in edit mode isn't required-->
        <input
          type="file"
          id="product-image-field"
          name="product-image-field"
        />
      <% } %>
      <span class="error-msg FileUploadError"></span>

      <label for="product-price-field">Price</label>
      <input
        type="number"
        id="product-price-field"
        name="product-price-field"
        step="0.01"
        value="<%= editMode ? product.price : ''%>"
        required
      />

      <label for="product-description-field">Description</label>
      <textarea
        name="product-description-field"
        id="product-description-field"
        style="width: 80%;"><%= editMode ? product.description : ''%></textarea>
      <span class="error-msg ProductDescError" id="product-desc-error"></span>

      <!-- will be used to pass product id to the controller to update the product when in edit mode-->
      <% if (editMode) { %>
        <input type="hidden" name="productIdField" value="<%= product._id %>"/>
      <% } %>

      <button type="submit" class="btn" id="form-submit-btn">
        <%= editMode ? 'Update Product' : 'Add Product' %>
      </button>
      <img src="/imgs/loading.gif" alt="loading image" class="loading-img" id="loading-img"/>

      <input type="hidden" name="_csrf" value="<%= csrfToken %>" id="csrfField">
    </form>

    <!-- tinyMCE editor CDN -->
    <script
      src="https://cdn.tiny.cloud/1/gn38uo37vdfe6crfnd1ldnmlcmu3mls8eziv0kbl5axi4iob/tinymce/5/tinymce.min.js"
      referrerpolicy="origin">
    </script>
    <!-- initialize tinyMCE editor -->
    <script src="/js/admin/tiny-mce.js"></script>
    <!-- works with both edit product and add product forms -->
    <script src="/js/admin/edit-product.js" type="module"></script>
<%- include('../partials/foot.ejs') %>