<%- include('../partials/head.ejs') %>

    <%- include('../partials/navbar.ejs') %>

    <h1 class="page-title"><%= pageTitle %></h1>

    <% if (message.length > 0) { %>
      <span class="info-msg error-msg-block show-msg-block"><%= message %></span>
    <% } %>

    <form
      action=""
      method="POST"
      id="login-form"
      class="login-form">

      <input
        type="email"
        id="user-email-field"
        name="user-email-field"
        value=""
        placeholder="Email"
        required
      />
      <span class="error-msg EmailError"></span>

      <input
        type="password"
        id="user-password-field"
        name="user-password-field"
        placeholder="Password"
        value=""
        required
      />
      <span class="error-msg PasswordError"></span>

      <button type="submit" class="btn" id="login-btn">Login</button>

      <img src="/imgs/loading.gif" alt="loading image" class="loading-img" id="loading-img"/>

      <p class="not-registered-label">
        Not registered?
        <a href="/signup">Register</a>
      </p>

      <a href="/forgot-password" class="forgot-password-link">Forgot Password</a>

      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    </form>

    <script src="/js/auth/login.js"></script>

<%- include('../partials/foot.ejs') %>