<%- include('../partials/head.ejs') %>

    <%- include('../partials/navbar.ejs') %>

    <h1 class="page-title">Reset Password</h1>

    <span class="info-msg" id="msg-block">
      Password reset failed due to token expiry
    </span>

    <% if (!isTokenValid) { %>
      <span class="info-msg error-msg-block show-msg-block">This link has expired, it was only valid for an hour after it was emailed to you</span>
    <% } else { %>
      <form
        action=""
        method="POST"
        id="password-reset-form"
        class="password-reset-form">

        <input
          type="password"
          id="user-password-field"
          name="user-password-field"
          placeholder="Password"
          value=""
          required
        />
        <span class="error-msg PasswordError"></span>

        <button type="submit" class="btn" id="form-submit-btn">Reset Password</button>

        <img src="/imgs/loading.gif" alt="loading image" class="loading-img" id="loading-img"/>

        <!-- passwordResetTokenField will be used to identify the user whose
              password is to be reset -->
        <input type="hidden" name="passwordResetTokenField" value="<%= token %>"/>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      </form>
    <% } %>

    <script src="/js/auth/reset-password.js" type="module"></script>

<%- include('../partials/foot.ejs') %>